@model NewShoeVM

@{
    ViewData["Title"] = "Create a new shoe entry";
}

<div  class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>           </h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">

                </form>
            </div>

        </div>

    </div>



</div>